        /* Body style for background color */
        body {
            background-color: #1e2a44;
            font-family: Arial, sans-serif;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            align-content: center;
            min-height: 1080px;
            margin: 0;
            width: 100%;
            padding: 20px;
            position: relative;
        }

        html {
            min-width: 1700px;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0;
            padding: 0;
            overflow-x:visible;
        }

      /* Navbar container */
      .navbar {
          display: flex;
          background-color: #333;
          padding: 10px;
          justify-content: center;
          width: 1200px;
          margin-top: 30px;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
          border-radius: 5px;
          gap: 20px;
      }

      /* Navbar items */
      .navbar a {
          color: rgb(255, 255, 255);
          padding: 10px 20px;
          text-decoration: none;
          font-size: 16px;
          background-color: #555;
          margin: 0 5px;
          border-radius: 3px;
          text-align: center;
          transition: background-color 0.5s ease, box-shadow 0.3s ease;
      }

      /* Active link style */
      .navbar a.active {
          background-color: #4da8da;
          box-shadow: 0 0 10px rgba(0, 174, 255, 0.6);
      }

      /* Hover effect */
      .navbar a:hover {
          background-color: #4da8da;
          box-shadow: 0 0 10px rgba(0, 174, 255, 0.4);
      }

      /* Content container */
      .container {
          padding: 20px;
          text-align: center;
          width: 60%;
          height: 300px;
      }

      /* Sections */
      .section {
        display: none;
        padding: 20px;
        width: 1600px;
        flex-direction: column; /* Contenuti impilati verticalmente */
        background-color: rgba(242, 242, 242, 0.416);
        border: 1px solid #ddd;
        border-radius: 5px;
        margin-top: 20px;
        position: relative;
        outline: 3px solid rgba(255, 255, 255, 0.7);
      }

      .section.active {
          display: block;
      }
