/* CSS per il modulo Image AI */

 .color-swatch {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

 .color-box {
  width: 50px;
  height: 50px;
  border: 1px solid transparent;
  margin-right: 10px;
}

.waveform-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 10px;
}

 .waveform-button:hover {
  background-color: #0056b3;
}
#recalculateButton {
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.7));
  display: inline-block; /* Per evitare spazi indesiderati */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.05s ease, transform 0.2s ease, box-shadow 0.2s ease;
}

#recalculateButton:hover {
  transform: scale(0.9);
  filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.7));
}

#recalculateButton:active {
  transform: scale(0.8);
}

.ImgSynthLogo{
  filter: drop-shadow(2px 2px 2px rgba(255, 255, 255, 0.263));
  display: inline-block; /* Per evitare spazi indesiderati */
}


