.about-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 150px;
    margin: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.2);
    margin-top: 20px;
    padding: 50px;
}

#section4{
    background-color: #ffffffc8;
}
#firebase{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#github{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
#libraries{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.description{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    margin: 10px;
    padding:40px;
    padding-left: 300px;
    padding-right: 300px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.2);
}