#secondrow{
    display:flex;
    flex-direction: row;
    gap: 130px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.knob-adsr{
    display: flex;
    flex-direction: row;
    gap:10px;
    align-items: center;
    justify-content: center;

}

#envelope{
    display:flex;
    flex-direction: column;
    align-items: center;
    
}

.adsr-section{
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    background-color: rgba(133, 216, 0, 0.2);
    white-space: nowrap;
}