#thirdrow{
    display: flex;
    flex-direction: row;
    gap: 20px;

}
#effects{
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    background-color: rgba(216, 0, 0, 0.2);
    width: 60%;
}

#Distortion{
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    background-color: rgba(255, 37, 37, 0.2);
    align-items: center;
}
#Chorus{
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    background-color: rgba(216, 0, 65, 0.2);
    align-items: center;
}
#choruspanel{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
#Delay{
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    background-color: rgba(216, 0, 155, 0.2);
    align-items: center;
}
#Reverb{
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    background-color: rgba(192, 65, 255, 0.2);
    align-items: center;
}
#Limiter{
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    background-color: rgba(104, 0, 216, 0.2);
    align-items: center;
}