.noisevolumeslider{
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    padding-bottom: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    background-color: rgba(0, 173, 138, 0.2);
}

.noise{
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}